body {
  background-color: #5a89ff;
  width: 100%;
  height: 50vh;
}
.navBar {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  display: flex;
}

.logo-section img {
  background-color: red;
  padding: 0 20px;
  line-height: 90px;
}

.navList a {
  display: inline-block;
  justify-content: flex-end;
  padding: 0 50px;
  line-height: 90px;
}
